@import 'flexbox';

.dib{display:inline-block;}

.education {
  .education-item {}
  
  .education-item {
    @include flexbox;
    @include align-items(center);
    // @include justify-content(space-between);
    padding: 20px 15px 25px 15px;

    border-top: 1px solid #828282;
    &:last-of-type{border-bottom: 1px solid #828282; margin-bottom: 20px;}

    .education-content {
      margin-right: 20px;
      @include flex(0, 2, 500px);
    }
    .education-logo {
      @include flex(0, 1, 100px);
      // width: 100px; height: 100px;
    }
  }  
}
